exportPattern("^[[:alpha:]]+")
importFrom("plyr", "dlply")
# importFrom("sommer", "mmer", "overlay")
importFrom("multcomp", "glht")
importFrom("stats", ".getXlevels", "coef", "coefficients",
                "contrasts<-", "deviance", "df", "df.residual", "dnorm",
                "formula", "lm", "lm.fit", "model.extract", "model.matrix",
                "model.response", "optim", "pf", "pt")
importFrom("stats", "anova", "fitted", "vcov", "window")
importFrom("utils", "combn")
export(model.matrixDiallel, lm.diallel, mmer.diallel, matBlock,
       model.matrix.diallel, vcov.diallel, summary.diallel,
       anova.diallel, glht.diallelMod, diallel.eff,
       GCA, VEi, SP, RGCA, tSCA, SCA, SCA.G3, SCA.GE, RSCA,
       REC, REC.G3, H.BAR, MDD, Hi, GCAC, DD, expand.diallel,
       blockMatrixDiagonal)

## S3 methods
S3method(summary, diallel)
S3method(vcov, diallel)
S3method(anova, diallel)
S3method(predict, diallel)
S3method(model.matrix, diallel)
S3method(glht, diallelMod)
